
//РАБОТА С ЛИЦОМ ЛОСЯ


.pfpBox{
	display: block;
	animation: losShake 1.2s ease infinite;
	margin: 10px;

	.pfp{
		max-width: 150px;
		overflow: hidden;
	}
}


#basicFace{
	display: block;
}

#deadFace{
	display: none;

}

#blinkingFace{
	display: none;
}

#wonderingFace{
	display: none;
}

#lookingFace{
	display: none;
}

#deadLookingFace{
	display: none;
}

#angryFace{
	display: none;
}

#wowFace{
	display: none;
}

#misunderstandingFace{
	display: none;
}

#shockingFace{
	display: none;
}

#laughingFace{
	display: none;
}

#tiredFace{
	display: none;
}

@keyframes losShake {
	50%{
		transform: rotate(1.5deg);
	}
}

@keyframes losShakeDeadly {
	50%{
		transform: skew(2deg, 1deg);;
	}
}