
body.start{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;

}

.mainFace.wondering{
	background-image: url(../img/emotions/wondering.png);

}

.mainFace.blinking{
	background-image: url(../img/emotions/blinking.png);

}


