
@import "./_emotions.scss";

$losRed: #7c2c2d;
$losBianca: #fefcfb;
$losBeige: #f5f2ea;
$losGreen: #1e7062;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	transition: all .4s ease;
	background-color: $losGreen;
	background-image: url("../img/bg.png");
	background-size: cover;
	background-position: center;

}

.container{
	background-color: #f1f5f7;
	border-radius: 5px;
	border: 2px solid #000;
	padding: 20px;
	box-shadow: 0 10px 5px 0 #00000044;
	background-color: $losBianca;

}

.chat-container{
	height: 50vh;
	overflow: auto;
	border: 1px solid #c7c7c7;
	box-shadow: none;	
}


h1{
	text-align: center;
	
}

.media{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: $losBeige;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 #00000044;
	overflow: hidden;
	max-height: 170px;


	.bio{
		display: inherit;
		flex-direction: inherit;
		justify-content: start;
		align-items: center;
		gap: 20px;


		.media-body{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: baseline;
			text-align: start;
		
			.status{
				color: $losRed;
				font-weight: bold;
			}
		}
	}



	.mods{

		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-right: 20px;
		gap: 5px;

		.mods-choices{

			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
			gap: 10px;
			list-style: none;
			transition: 0.5s;
			margin-bottom: 0;

			
			li{
				padding: 2px 7px;
				border-radius: 3px;
				cursor: pointer;
				transition: 0.5s;
			}

			li.active{
				color: $losBianca;
				background-color: $losRed;
				box-shadow: 0 0 5px 0 #00000044;
			}
		}
		
	}

}

//на случай ссылок в сообщении
a{
	color: #fff;
	text-decoration: underline;
}

.input-group{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;

	.input{
		border: 1px solid #c7c7c7;
		width: 88%;
		padding: 10px;
		border-radius: 3px;
		box-shadow: 0 0 5px 0 #00000044;
		background-color: $losBeige;

	}

	#sendBtn{
		color: $losBianca;
		background-color: $losRed;
		border: none;
		font-size: 20px;
		box-shadow: 0 0 5px 0 #00000044;
		margin-left: 10px;
		border-radius: 3px;
	
	}

	.closed{
		pointer-events: none;
	}
	
}

.botMessage{
	margin: 10px;
	padding: 5px;
	float: left;
	background-color: $losRed;
	color: #fff;
}

.userMessage{
	margin: 10px;
	padding: 5px;
	float: right;
	background-color: $losGreen;
	color: #fff;
}

// @media(max-height:1024px){
	
// 	.container{
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: center;
// 		height: 100vh;
// 		padding: 15px;

// 		.media{
// 			height: 50%;

// 			.pfpBox{
// 				margin-left: 0;
// 				margin-right: 0;
// 				padding-left: 0;
// 				padding-right: 0;
// 				.pfp{
// 					max-width: 140px;
// 				}
// 			}
// 		}	

// 	}
// 	#chatContainer{
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: start;	
// 		padding: 5px;
// 	}
	

// }



@media(max-width:1400px){
	.input-group{
		.btn{
			display: none;
			
		}
	}		

}

@media(max-width:990px){
	.input-group{
		.textbox{
			width: 85%;
		}
	}		

}


@media(max-width:768px){

	.input-group{
		.textbox{
			width: 80%;
		}
	}
}

@media(max-width:432px){
	.media{
		margin-top: 0;
		.bio{
			.media-body{
				.name{
					display: none;
				}
				.status{
					display: none;
				}
			}
		}

		.mods{
			margin-right: 40px;
		}
	}
	.input-group{
		margin-bottom: 25px;
		.textbox{
			width: 75%;
		}
	}
}

@media(max-width:354px){

	.mods{
		margin-right: 60px;
	}
	.input-group{
		.textbox{
			width: 70%;
		}
	}
}
